In [1]:
import pandas
df = pandas.read_csv('error_sample.csv')

## Error 1 : Header error
Solution: rename function

In [2]:
df.head()

,name,price,likes,country,type,location,review,bookmark,discount_info
0,LAB EAT Restaurant & Bar,尖沙咀金巴利道87-89號僑豐大厦地下1-2號舖,$201-400,西式,海鮮,436.0,(565 食評),50744,網上訂座可享75折優惠
1,Shine,尖沙咀北京道12A號太子集團中心6樓,$201-400,西式,酒,693.0,(777 食評),21136,送 25里數 / 30積分
2,Yadllie Plate,旺角西洋菜街1號兆萬中心11樓,$101-200,韩国菜,NaN,487.0,(630 食評),27681,早鳥及消夜時段訂座 可享全單八折優惠
3,漁獲浜燒 Toretore Hamayaki,銅鑼灣軒尼詩道525號澳門逸園中心18樓,$201-400,日本菜,日本菜,503.0,(524 食評),19647,送 25里數 / 30積分
4,心之食堂 Love Cafe,銅鑼灣耀華街3號百樂中心12樓1203室,$201-400,日本菜,NaN,490.0,(545 食評),6580,全單85折

In [3]:
df.rename(columns={'price':'location','likes':'prices','location':'likes'}, inplace=True)
df.head()

,name,location,prices,country,type,likes,review,bookmark,discount_info
0,LAB EAT Restaurant & Bar,尖沙咀金巴利道87-89號僑豐大厦地下1-2號舖,$201-400,西式,海鮮,436.0,(565 食評),50744,網上訂座可享75折優惠
1,Shine,尖沙咀北京道12A號太子集團中心6樓,$201-400,西式,酒,693.0,(777 食評),21136,送 25里數 / 30積分
2,Yadllie Plate,旺角西洋菜街1號兆萬中心11樓,$101-200,韩国菜,NaN,487.0,(630 食評),27681,早鳥及消夜時段訂座 可享全單八折優惠
3,漁獲浜燒 Toretore Hamayaki,銅鑼灣軒尼詩道525號澳門逸園中心18樓,$201-400,日本菜,日本菜,503.0,(524 食評),19647,送 25里數 / 30積分
4,心之食堂 Love Cafe,銅鑼灣耀華街3號百樂中心12樓1203室,$201-400,日本菜,NaN,490.0,(545 食評),6580,全單85折

## Error 2 : Data format error
solution: replace function

In [4]:
df['prices'].value_counts()

$101-200    464
$201-400    309
$51-100     106
$401-800     46
$50以下         4
$101.00       3
Name: prices, dtype: int64

In [5]:
df['prices'].replace({'$101.00':'$101-200'}).value_counts()

$101-200    467
$201-400    309
$51-100     106
$401-800     46
$50以下         4
Name: prices, dtype: int64

## Error 3 : Format/Unity error
Solution: mapping & apply

In [6]:
df['country'].value_counts()

西式          203
日本菜         148
多國菜          86
意大利菜         79
港式           63
粵菜 (廣東)      45
泰國菜          44
韓國菜          36
法國菜          30
西班牙菜         29
美國菜          24
台灣菜          21
川菜 (四川)      21
英國菜          16
越南菜          16
印度菜          12
德國菜           9
意大利           8
京菜 (官府菜)      7
比利時菜          7
澳洲菜           6
葡國菜           4
韩国菜           3
京川滬           3
俄國菜           2
滬菜 (上海)       2
荷蘭菜           1
蒙古菜           1
湘菜 (湖南)       1
秘魯菜           1
印尼菜           1
潮州菜           1
土耳其菜          1
新加坡菜          1
Name: country, dtype: int64

In [7]:
mapping={
    '意大利':'意大利菜',
    '韩国菜':'韓國菜'
}
def cleaning(e):
    return mapping.get(e,e)
df['country'].apply(cleaning).value_counts()

西式          203
日本菜         148
意大利菜         87
多國菜          86
港式           63
粵菜 (廣東)      45
泰國菜          44
韓國菜          39
法國菜          30
西班牙菜         29
美國菜          24
台灣菜          21
川菜 (四川)      21
英國菜          16
越南菜          16
印度菜          12
德國菜           9
京菜 (官府菜)      7
比利時菜          7
澳洲菜           6
葡國菜           4
京川滬           3
俄國菜           2
滬菜 (上海)       2
土耳其菜          1
潮州菜           1
新加坡菜          1
荷蘭菜           1
蒙古菜           1
湘菜 (湖南)       1
秘魯菜           1
印尼菜           1
Name: country, dtype: int64

## Data range error
Solution: check out the real value in the source and replace

In [8]:
df['bookmark'].describe()

count       932.000000
mean       8172.702790
std       10224.924791
min           5.000000
25%        2824.000000
50%        5612.000000
75%       10894.750000
max      221502.000000
Name: bookmark, dtype: float64

In [9]:
df[df['bookmark'] == 5]

,name,location,prices,country,type,likes,review,bookmark,discount_info
922,Shoreditch,西環堅尼地城吉席街18號地舖,$201-400,英國菜,扒房,36.0,(58 食評),5,訂座可半價享用Love Lobster

In [10]:
df[df['bookmark'] == 221502]

,name,location,prices,country,type,likes,review,bookmark,discount_info
40,慢煮工業 Under Vacuum The Steak,太子太子道西91號地舖,$51-100,西式,三文治,258.0,(388 食評),221502,送 25里數 / 30積分

## None type error
Solution: replace the value with fillna() function

In [11]:
df['type'].head(20)

0         海鮮
1          酒
2        NaN
3        日本菜
4        NaN
5         扒房
6      甜品/糖水
7        NaN
8     樓上cafe
9       韓式炸雞
10       NaN
11        烤肉
12     壽司/刺身
13     甜品/糖水
14       NaN
15       爐端燒
16     甜品/糖水
17       NaN
18       NaN
19     甜品/糖水
Name: type, dtype: object

In [12]:
df['type'] = df['type'].fillna('')

In [13]:
df['type'].head(20)

0         海鮮
1          酒
2
3        日本菜
4
5         扒房
6      甜品/糖水
7
8     樓上cafe
9       韓式炸雞
10
11        烤肉
12     壽司/刺身
13     甜品/糖水
14
15       爐端燒
16     甜品/糖水
17
18
19     甜品/糖水
Name: type, dtype: object